.dashboard {
    display: grid;
    margin: 20px;
    grid-gap: 20px;
    overflow: auto;
    height: max-content;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    background: var(--semi-color-tertiary-light-active);
    padding: 20px;
    border-radius: 10px;
    height: 120px;
  }
  
  .charts {
    grid-column: 1 / -1;
    /* 图表样式 */
  }
  
  .profile {
    /* 个人信息卡片样式 */
  }
  
  .profile-card {
    background: var(--semi-color-tertiary-light-active);
    padding: 20px;
    border-radius: 10px;
    /* 其他样式 */
  }
  
  .avatar {
    /* 头像样式 */
  }
  
  .info {
    /* 信息文本样式 */
  }