html {
    height: 100%;
}

body {
    height: 100%;
}

#root{
    height: 100%;
    overflow: hidden;
}

/* Playground Tabs */
.playground-tabs .ant-tabs-content {
    height: 100%;
}

.playground-tabs .ant-tabs-tabpane {
    height: 100%;
}